<h1><%= @game.title %></h1>
<h2><%= @game.publisher %></h2>
<h3><%= @game.description %></h3>

<% @game.reviews.each do |review| %>
  <p>Score: <%= review.score %></p>
  <p><a href="/reviews/<%=review.id%>">Review</a>: <%= review.content %> by <a href="/users/<%=review.user.id%>"><%= review.user.name %></a>
  <% if review.user.id == session[:user_id] %>
     - <a href="/reviews/<%=review.id%>/edit">Edit</a>
  <% end %>
  </p><br>
<% end %>

<% if session[:user_id] %>
  <a href="/users/<%=session[:user_id]%>">Go back to your page</a>
<% end %>

<a href="/games">See games list</a>