<h1>Review</h1>
<h1><%= @review.game.title %></h1>
<h2><%= @review.score %></h2>
<p><%= @review.content %> - by <a href=/users/<%=@review.user.id%>><%= @review.user.name %></a></p>
<% if @review.user.id == session[:user_id] %>
  <a href="/reviews/<%=@review.id%>/edit">Edit</a>
<% end %>
<form method="post" action="/reviews/<%=@review.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Review">
</form>